@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@keyframes first-look-img {
    from {
        opacity: 0;
        position: relative;
        top: -15px;
    }
    to {
        opacity: 1;
        position: relative;
        top: 0px;
    }
}
/* Reglas Generales */
* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-color: #c8d6e5;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 2.9rem;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: #000;
}
::-webkit-scrollbar {
    background-color: #fff;
    width: 12px;
}
::-webkit-scrollbar-thumb {
    background: #0a2769;
    border-radius: 10px;
    height: 35%;
}
img {
    user-select: none;
    -webkit-user-drag: none;
}

.home {
    height: 95vh;
}
/* Barra navegacion */
.navbar {
    width: 100%;
    height: 3rem;
    background-color: #17c0eb;
    top: 0;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav {
    display: flex;
    align-items: center;
    position: relative;
}
.nav img {
    border-radius: 50%;
    position: absolute;
    top: -15%;
    left: 8%;
    transition: transform 450ms ease;
}
.nav img:hover {
    transform: scale(1.125);
}
.nav li {
    margin: 0 5rem;
}
.nav li a {
    color: #000;
    font-family: inherit;
}
.nav li a:hover {
    color: #3c6382;
}

/* Parte superior del Sitio */
.top-site {
    margin: 3rem auto 0 auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.datos {
    background-color: #4a69bd;
    width: 100%;
    display: flex;
    padding: 1rem;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.datos a {
    display: flex;
    transition: transform 200ms ease;
}
.datos a:hover {
    color: white;
    transform: scale(1.025);
}
.datos img {
    margin: 0 0.5rem;
}
.cobertura {
    background-color: #1e9cbb;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
    font-size: 15px;
    justify-content: center;
    font-weight: bold;
}
.cobertura a {
    transition: transform 200ms ease;
    display: flex;
}
.cobertura a:hover {
    color: white;
    transform: scale(1.025);
}
.cobertura img {
    margin: 0 0.5rem;
}
.cobertura span {
    display: block;
    text-align: center;
    font-size: 11px;
}

/* Imagen de Fondo */
.bg-img {
    display: flex;
    justify-content: center;
    height: 80vh;
    animation: first-look-img 400ms ease-out;
}
.bg-img img {
    height: fit-content;
    width: 30%;
    margin: auto;
    border-radius: 50%;
}

/* Publicidad */
.publicidad {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.publicidad h2 {
    text-align: center;
}
.header {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.lista {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0.5rem auto;
    font-weight: 560;
    padding: 0;
    align-items: center;
}

/* Plan Ofertas */
.container {
    display: flex;
}
.container .left {
    width: 100%;
}
.container .right {
    max-width: 600px;
    padding: 7.5rem 0;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.container .right img {
    width: 75%;
    margin: 3rem auto;
    border-radius: 4px;
}
.ofertas h3 {
    text-align: center;
    font-size: 30px;
    margin-top: 3.5rem;
}
.planes-card {
    display: flex;
    justify-content: space-around;
}
.plan-gb {
    border-radius: 4px;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
}
.plan-gb .card-plan {
    min-width: 210px;
    padding: 2rem;
    font-weight: bold;
}
.plan-gb .card-plan .max-plan {
    font-size: 12px;
}
.plan-gb p {
    text-align: center;
    font-size: 1rem;
}
.plan-gb .planes-gigabytes,
.plan-gb .price-plan {
    background-color: #218c74;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 4px;
}
.plan-boton {
    padding: 0 1rem;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.plan-boton li {
    margin: 0 2rem;
}
.plan-boton li a {
    padding: 0.5rem 1rem;
    background-color: #218c74;
    border-radius: 10px;
    color: rgb(39, 35, 35);
    transition: background-color 300ms ease;
}
.plan-boton li a:hover {
    color: #000;
    background-color: #17c0eb;
}
.dato-boton {
    padding: 0 1rem;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.dato-boton li {
    margin: 1rem 2rem;
}
.dato-boton li a {
    padding: 0.5rem 1rem;
    background-color: #0a2769;
    border-radius: 10px;
    color: #eee;
    transition: background-color 300ms ease;
}
.dato-boton li a:hover {
    color: #fff;
    background-color: #17c0eb;
}
.redes img {
    width: 30px;
    margin-left: 0.5rem;
    transition: transform 200ms ease;
}
.redes img:hover {
    transform: scale(1.05);
}

/*Datos*/
.dato-gb {
    border-radius: 4px;
    width: 13rem;
    margin: 0 2.2rem;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.dato-gb .card-dato {
    margin: 2.3rem;
    font-weight: bold;
}
.dato-gb .card-dato .max-plan {
    font-size: 12px;
}
.dato-gb p {
    text-align: center;
    font-size: 1rem;
}
.dato-gb .datos-gigabytes,
.dato-gb .price-dato {
    background-color: #0a2769;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 4px;
}

/*Pago en línea*/
.pago {
    padding: 4rem;
}
.pago h3 {
    width: max-content;
    position: relative;
    left: 18%;
    font-size: 30px;
}
.card-pago {
    background-color: #eee;
    border-radius: 20px;
    overflow: hidden;
    max-height: 500px;
    box-shadow: 5px 6px rgba(253, 167, 223, 1);
}
.volver {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: rgba(253, 167, 223, 1);
    height: 3rem;
    display: flex;
    align-items: center;
}
.volver a {
    margin-left: 0.8rem;
}
.volver a:hover,
.volver i:hover {
    color: white;
}
.title h4 {
    text-align: center;
    font-size: 25px;
}
form {
    position: relative;
    margin-left: 10%;
    font-weight: bold;
}
form button {
    border: none;
    background-color: #14a6ca;
    cursor: pointer;
    border-radius: 20px;
    display: block;
    color: rgb(39, 35, 35);
    margin: 2rem auto;
    padding: 0.5rem;
    width: 50%;
    text-align: center;
    transition: background-color 300ms ease;
    font-size: 17px;
}
form button:hover {
    color: #000;
    border-bottom: 2px solid #000;
    background-color: #17c0eb;
}
form input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #000;
    background-color: transparent;
    padding: 0.3rem 1rem;
}
form input:focus {
    outline: none;
    border-bottom-color: #17c0eb;
}
form img {
    position: absolute;
    right: 6rem;
    top: -10px;
}
/*Ayuda*/
.contenedor {
    margin: auto;
    background-color: #17c0eb;
    width: 70%;
    height: 21%;
    font-size: 15px;
    border-radius: 10px;
    text-align: center;
    padding: 1rem;
}
.info h3 {
    font-size: 1.5rem;
    margin: 0;
}
.info h5 {
    margin: 0.2rem 0 1rem 0;
    font-size: 0.8rem;
    font-weight: lighter;
}
.info2 {
    position: relative;
    margin: auto;
    border: 3px solid #fff;
    min-width: 200px;
    width: fit-content;
    border-radius: 30px;
}
.info2 img {
    width: 48px;
    color: red;
    position: absolute;
    left: -1.7rem;
    top: 50%;
    transform: translateY(-50%);
}
.info2 img + p {
    font-weight: bold;
}
/*Footer*/
.footer {
    background-color: #a29bfe;
    margin-top: 2rem;
}
.footer .logo {
    display: flex;
    justify-content: center;
    margin: 2rem;
}
.footer .logo img {
    margin: 0.8rem 0 0 0;
    width: 148px;
    border-radius: 50%;
}
.footer-redes {
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: auto;
}
.footer-redes img {
    width: 48px;
    margin-bottom: 2rem;
    transition: transform 200ms ease;
}
.footer-redes img:hover {
    transform: scale(1.05);
}
.informacion {
    display: flex;
    justify-content: space-around;
}
.cartas {
    border-top: 2px solid #8780f2;
    width: 20%;
    font-size: 12px;
}
.cartas a {
    display: block;
    margin: 0.4rem 0;
    color: rgb(87, 87, 87);
}
.cartas a:hover {
    color: #000;
    text-decoration: underline;
}
