@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@keyframes first-look-img {
    from {
        opacity: 0;
        position: relative;
        top: -15px;
    }
    to {
        opacity: 1;
        position: relative;
        top: 0px;
    }
}
/* Reglas Generales */
* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-color: #c8d6e5;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 2.9em;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: #000;
}
::-webkit-scrollbar {
    background-color: #fff;
    width: 12px;
}
::-webkit-scrollbar-thumb {
    background: #2ed573;
    border-radius: 10px;
    height: 35%;
}
img {
    user-select: none;
    -webkit-user-drag: none;
}

.home {
    height: 95vh;
}
/* Barra navegacion */
.navbar {
    width: 100%;
    height: 3rem;
    background-color: #17c0eb;
    top: 0;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav {
    display: flex;
    align-items: center;
    position: relative;
}
.nav img {
    border-radius: 50%;
    position: absolute;
    top: -15%;
    left: 8%;
    transition: transform 450ms ease;
}
.nav img:hover {
    transform: scale(1.125);
}
.nav li {
    margin: 0 5rem;
}
.nav li a {
    color: #000;
    font-family: inherit;
}
.nav li a:hover {
    color: #3c6382;
}

/* Parte superior del Sitio */
.top-site {
    margin: 3rem auto 0 auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.datos {
    background-color: #2ed573;
    width: 100%;
    display: flex;
    padding: 1rem;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.datos a {
    display: flex;
    transition: transform 200ms ease;
}
.datos a:hover {
    color: #833471;
    transform: scale(1.025);
}
.datos img {
    margin: 0 0.5rem;
}
.cobertura {
    background-color: #7bed9f;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
    font-size: 15px;
    justify-content: center;
    font-weight: bold;
}
.cobertura a {
    transition: transform 200ms ease;
    display: flex;
}
.cobertura a:hover {
    color: #833471;
    transform: scale(1.025);
}
.cobertura img {
    margin: 0 0.5rem;
}
.cobertura span {
    display: block;
    text-align: center;
    font-size: 11px;
}

/* Imagen de Fondo */
.bg-img {
    display: flex;
    justify-content: center;
    height: 80vh;
    animation: first-look-img 400ms ease-out;
}
.bg-img img {
    height: fit-content;
    width: 30%;
    margin: auto;
    border-radius: 50%;
}

/* Publicidad */
.publicidad {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.publicidad h2 {
    text-align: center;
}
.header {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.lista {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0.5rem auto;
    font-weight: 560;
    padding: 0;
    align-items: center;
}
.content {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    padding: 1rem;
}
.content img {
    width: 800px;
    height: 450px;
    border-radius: 10px;
    object-fit: cover;
    margin: auto;
}
.circles {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.circle {
    cursor: pointer;
    margin: 0.3rem;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 4px solid #17c0eb;
    transition: border 100ms ease;
}
.full {
    cursor: pointer;
    margin: 0.3rem;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #17c0eb;
    transition: background-color 100ms ease;
}
.circle:hover,
.full:hover {
    background-color: #2ed573;
    border: 4px solid #2ed573;
}

/* Ofertas */
.ofertas {
    padding: 4rem;
}
.ofertas h3 {
    text-align: center;
    font-size: 30px;
}
.ofertas-card {
    display: flex;
    justify-content: center;
}
.gb {
    width: 15rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    background-color: white;
}
.gb .card-content {
    margin: 2.3rem;
    font-weight: bold;
}
.gb .card-content .max {
    font-size: 12px;
}
.gb p {
    text-align: center;
    font-size: 1em;
}
.gb .gigabytes,
.gb .price {
    background-color: #833471;
    color: white;
    font-weight: bold;
    font-size: 24px;
    border-radius: 4px;
}
.boton {
    margin: 1rem auto;
    width: 49rem;
    display: flex;
    justify-content: space-around;
    padding: 0;
}
.boton li a {
    padding: 0.5rem 1rem;
    background-color: #14a6ca;
    border-radius: 10px;
    color: rgb(39, 35, 35);
    transition: background-color 300ms ease;
}
.boton li a:hover {
    color: #000;
    background-color: #17c0eb;
    border-bottom: 2px solid #000;
}

/* Dudas */
.dudas {
    border-top: 1px solid #000;
}
.dudas .title {
    text-align: center;
    font-size: 24px;
}
.dudas .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.cards .card {
    position: relative;
    border: 1px solid #000;
    min-width: 500px;
    margin: 3rem;
    border-radius: 5px;
    box-shadow: 5px 6px rgba(253, 167, 223, 1);
}
.cards .card .logo {
    color: #17c0eb;
    position: absolute;
    top: -2rem;
    left: 50%;
    transform: translate(-50%);
}
.cards .card h4 {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin: 2rem;
    position: relative;
    border-bottom: 2px solid rgba(253, 167, 223, 1);
    padding: 1.5rem 0;
}
.beneficios {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    cursor: pointer;
    border-radius: 5px;
    user-select: none;
    color: rgb(87, 87, 87);
    transition: background-color 100ms ease;
}
.beneficios:hover {
    color: #000;
    background-color: rgba(253, 167, 223, 1);
}
.beneficios i {
    margin-top: 1.5rem;
}
/*Ayuda*/
.contenedor {
    margin: auto;
    background-color: #17c0eb;
    width: 70%;
    height: 21%;
    font-size: 15px;
    border-radius: 10px;
    text-align: center;
    padding: 1rem;
}
.info h3 {
    font-size: 1.5rem;
    margin: 0;
}
.info h5 {
    margin: 0.2rem 0 1rem 0;
    font-size: 0.8rem;
    font-weight: lighter;
}
.info2 {
    position: relative;
    margin: auto;
    border: 3px solid #fff;
    min-width: 200px;
    width: fit-content;
    border-radius: 30px;
}
.info2 img {
    width: 48px;
    color: red;
    position: absolute;
    left: -1.7rem;
    top: 50%;
    transform: translateY(-50%);
}
.info2 img + p {
    font-weight: bold;
}
/*Footer*/
.footer {
    background-color: #a29bfe;
    margin-top: 2rem;
}
.footer .logo {
    display: flex;
    justify-content: center;
    margin: 2rem;
}
.footer .logo img {
    margin: 0.8rem 0 0 0;
    width: 148px;
    border-radius: 50%;
}
.redes {
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: auto;
}
.redes img {
    width: 48px;
    margin-bottom: 2rem;
    transition: transform 200ms ease;
}
.redes img:hover {
    transform: scale(1.05);
}
.informacion {
    display: flex;
    justify-content: space-around;
}
.cartas {
    border-top: 2px solid #8780f2;
    width: 20%;
    font-size: 12px;
}
.cartas a {
    display: block;
    margin: 0.4rem 0;
    color: rgb(87, 87, 87);
}
.cartas a:hover {
    color: #000;
    text-decoration: underline;
}

/* ======================== Inicio ========================
  ======================== Página ========================
  ======================== Planes ======================== */
.plan-ofertas {
    padding: 4rem;
}
.Plan-ofertas h3 {
    text-align: center;
    font-size: 30px;
}
.planes-card {
    display: flex;
    justify-content: left;
}
.plan-gb {
    width: 13rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid lightgrey;
}
.plan-gb .card-plan {
    margin: 2.3rem;
    font-weight: bold;
}
.plan-gb .card-plan .max-plan {
    font-size: 12px;
}
.plan-gb p {
    text-align: center;
    font-size: 1rem;
}
.plan-gb .planes-gigabytes,
.plan-gb .price-plan {
    background-color: #218c74;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 4px;
}
.plan-boton {
    margin: 0rem;
    width: 49rem;
    display: flex;
    justify-content: space-around;
    padding: 0;
}
.plan-boton li a {
    padding: 0.5rem 1rem;
    background-color: #14a6ca;
    border-radius: 10px;
    color: rgb(39, 35, 35);
    transition: background-color 300ms ease;
}
.plan-boton li a:hover {
    color: #000;
    background-color: #17c0eb;
}
